.about-section {
  padding: 50px 20px;
  max-width: 1100px;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.section-title span {
  color: var(--primary-color);
}

.about-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
  margin-top: 60px;
}

.about-text p {
  color: var(--subtitle-color);
  line-height: 1.6;
  margin-bottom: 20px;
}

.highlight {
  color: var(--primary-color);
  font-weight: 600;
}

.about-stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stat-card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 14px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.stat-card h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.info-card {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--fourth-color);
}

.about-desc {
    font-size: 13px;
    color: #b0b0b0;
    line-height: 1.4;

}

.about-icon {
    font-size: 30px;
    color: var(--secondary-color);
    padding-bottom: 15px;
}