.instagram-section {
  text-align: center;
}

.instagram-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  color: #0d0f12;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.3rem;
  transition: background 0.3s ease;
}

.catalog-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--icon-bg);
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  font-weight: 700;
  font-size: 1.3rem;
  transition: background 0.3s ease;
}

.instagram-btn:hover {
  background-color: var(--secondary-color);
}

.instagram-icon {
  font-size: 1.5rem;
}

.instagram-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #b0b0b0;
}

@media (max-width: 768px) {
  .instagram-btn,
    .catalog-btn {
        /* Reducimos el padding y la fuente para ser más compactos */
        padding: 0.6rem 1.2rem;
        font-size: 1rem; 
    }
    
    .instagram-icon {
        font-size: 1.2rem;
    }
    
    .instagram-text {
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}