.canva-embed-wrapper {
  max-width: 780px;
  width: 100%;
  margin: 0 auto; /* 👈 centra horizontalmente */
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}


@media (max-width: 1024px) {
  .canva-embed-wrapper {
        max-width: 95%; /* Ocupa casi todo el ancho disponible */
        margin: 0 auto; /* Asegura el centrado si el padre no está centrado */
    }
}