.features {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.feature-card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid;
  border-color: var(--secondary-color);
  width: 300px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  border-color: var(--third-color);
}



.feature-icon {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  background-color: var(--icon-bg);
  padding: 1rem;
  border-radius: 1.2rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.feature-desc {
  font-size: 1rem;
  color: #b0b0b0;
  line-height: 1.4;
}
