:root {
  --bg-color: #01060C;
  --text-color: #f0f0f0;
  --primary-color: #01AFFD;
  --secondary-color: #79E0F9;
  --third-color: #A9D8EF;
  --fourth-color: #36707d;
  --card-bg: #091118;
  --icon-bg: #113C5E;
  --whatsapp-color: #08D85C;
  --bg-login-card-color: #0E171E;
  --navbar-bg: #060C13;
  --subtitle-color: #818283;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #b0b0b0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.subtitle .highlight {
  color: var(--primary-color);
  font-weight: 600;
}

.two-column-layout {
    display: flex; /* Habilita la disposición horizontal */
    justify-content: center; /* Centra el bloque total en la página */
    align-items: flex-start; /* Alinea los elementos a la parte superior */
    gap: 50px; /* Espacio entre el Canva y las Features */
    padding: 20px;
    max-width: 1400px; /* Ancho máximo del layout completo */
    margin: 20px auto; /* Centra el contenedor en el centro de la pantalla */
}

@media (max-width: 1024px) {
  .two-column-layout {
        flex-direction: column; /* Apila el Canva y las Features verticalmente */
        align-items: center; /* Centra el contenido (Canva y Features) */
        gap: 40px; /* Aumenta el espacio entre los bloques apilados */
    }
}