.header {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-icon {
  font-size: 5rem;
  color: var(--secondary-color);
}

.logo-text {
  font-size: 4rem;
  font-weight: 850;
  color: var(--text-color);
}

.highlight {
  color: var(--primary-color);
}

.logo-img {
  width: 100px;    
  height: auto;    
  object-fit: contain;
  margin-top: 1rem;
}
