
.header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%; 
    overflow-x: hidden; 
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1.5rem; 
}

<<<<<<< Updated upstream
.logo-icon {
  font-size: 5rem;
  color: var(--secondary-color);
}

=======
>>>>>>> Stashed changes
.logo-text {
    font-size: 4rem;
    font-weight: 850;
    color: var(--text-color);
}

.highlight {
    color: var(--primary-color);
}

.logo-img {
    width: 150px; 
    height: 150px;
    object-fit: contain;
    margin-top: 3rem; 
}


@media (max-width: 768px) {
    .header {
        margin-top: 0.5rem;
    }

    .logo {
        justify-content: center;
        gap: 0.2rem; 
        padding: 0 10px; 
    }

    .logo-text {
        font-size: 2rem; 
        font-weight: 850;
    }

    .logo-img {
        width: 60px; 
        height: 60px;
        margin-top: 0.5rem; 
    }
}