.login-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.login-card {
  background: var(--bg-login-card-color);
  padding: 2.5rem;
  border-radius: 0.8rem;
  width: 360px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
  text-align: center;
  border: 1px solid;
  border-color: var(--secondary-color);
}

.login-icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  padding: 0,5rem;
  border-radius: 1.2rem;
}

.login-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color);
}

.login-subtitle {
  font-size: 0.95rem;
  color: #b0b0b0;
  margin-bottom: 1.5rem;
}

.login-label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  margin: 0.8rem 0 0.4rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  align-items: center;
  background: #0d0f12;
  border: 1px solid #222;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.input-icon {
  margin-right: 0.5rem;
  color: #888;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  color: var(--text-color);
}


.login-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  background: var(--primary-color);
  color: #0d0f12;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: var(--secondary-color);
}

