.construction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1.5rem;
}

.construction-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.bolt-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}


@media (max-width: 768px) {
  .construction {
        margin-top: 1rem;
    }

    .construction-text {
        font-size: 1.5rem; 
    }
    
    .bolt-icon {
        font-size: 1.2rem;
    }
}