.privacy-container {
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
    text-align: justify;
}

.privacy-container p {
    color: var(--subtitle-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.privacy-container strong {
    color: var(--primary-color);
    font-weight: 600;
}
