.whatsapp-btn {
  position:fixed;
  width:60px;
  height:60px;
  bottom:50px;
  right:50px;
  background-color: var(--whatsapp-color);
  color:#FFF;
  border-radius:50px;
  text-align:center;
}

.whatsapp-icon {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-top: 10px;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .whatsapp-btn {
        width: 50px;
        height: 50px;
        bottom: 20px; 
        right: 20px; 
    }

    .whatsapp-icon {
        font-size: 2rem; 
        margin-top: 8px; 
        margin-left: 2px;
    }
}